<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>

    ;(function(doc, win, io) {
      
      "use strict";

      var _socket,
          _server = "http://localhost:8080";

      //Namespace
      var RemoteControl = win.RemoteControl || {
          
          btnNext : {},
          btnPrev : {},
          btnLeft : {},
          btnRight : {},
          btnUp : {},
          btnDown : {},

          init: function() {
            _socket = io.connect(_server);
            this.getElements();
            this.addEvents();
          },

          getElements: function() {
            this.btnNext = doc.getElementById("next"),
            this.btnPrev = doc.getElementById("prev"),
            this.btnLeft = doc.getElementById("left"),
            this.btnRight = doc.getElementById("right"),
            this.btnUp = doc.getElementById("up"),
            this.btnDown = doc.getElementById("down");
          },

          addEvents: function() {
            this.btnNext.addEventListener("click", function(){
              _socket.emit('action', {act : "next"});
            }, false);
            this.btnPrev.addEventListener("click", function(){
              _socket.emit('action', {act : "prev"});
            }, false);
            this.btnLeft.addEventListener("click", function(){
              _socket.emit('action', {act : "left"});
            }, false);
            this.btnRight.addEventListener("click", function(){
              _socket.emit('action', {act : "right"});
            }, false);
            this.btnUp.addEventListener("click", function(){
              _socket.emit('action', {act : "up"});
            }, false);
            this.btnDown.addEventListener("click", function(){
              _socket.emit('action', {act : "down"});
            }, false);
          }
      };

      win.RemoteControl = RemoteControl;

    }(document, window, io));       
         
    window.onload = function() {  
  		//Start lib
      RemoteControl.init();
    }

	</script>
  </head>
  <body>
  	<nav>
	    <a id="next"  class="btn" href="#">Next</a>
	    <a id="prev" class="btn" href="#">Prev</a>
	    <a id="left" class="btn" href="#">Left</a>
	    <a id="right" class="btn" href="#">Right</a>
	    <a id="up" class="btn" href="#">Up</a>
	    <a id="down" class="btn" href="#">Down</a>
    </nav>
  </body>
</html>